<div class="modal fade" id="invoiceDetailModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Chi tiết hóa đơn
                </h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <!-- Thông tin chung -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <b>Mã hóa đơn:</b>
                        <div id="d_maHoaDon"></div>
                    </div>
                    <div class="col-md-4">
                        <b>Hợp đồng:</b>
                        <div id="d_maHopDong"></div>
                    </div>
                    <div class="col-md-4">
                        <b>Tháng / Năm:</b>
                        <div id="d_thangNam"></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <b>Trạng thái:</b>
                        <div id="d_status"></div>
                    </div>
                    <div class="col-md-6">
                        <b>Tổng cộng:</b>
                        <div id="d_tongCong" class="fw-bold text-danger"></div>
                    </div>
                </div>

                <hr>

                <!-- Chi tiết dịch vụ -->
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Dịch vụ</th>
                            <th>Mô tả</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody id="tblInvoiceDetailBody"></tbody>
                </table>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>

        </div>
    </div>
</div>
