<div class="modal fade" id="regulationDetailModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Chi tiết quy định</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <table class="table table-bordered">
          <tr>
            <th width="30%">Mã quy định</th>
            <td id="d_maQuyDinh"></td>
          </tr>
          <tr>
            <th width="30%">Tên quy định</th>
            <td id="d_tenQuyDinh"></td>
          </tr>
          <tr>
            <th>Giá điện</th>
            <td id="d_giaDien"></td>
          </tr>
          <tr>
            <th>Giá nước</th>
            <td id="d_giaNuoc"></td>
          </tr>
          <tr>
            <th>Phí dịch vụ</th>
            <td id="d_phiDichVu"></td>
          </tr>
          <tr>
            <th>Số người tối đa</th>
            <td id="d_soNguoiToiDa"></td>
          </tr>
          <tr>
            <th>Phí trễ hạn</th>
            <td id="d_phiTreHan"></td>
          </tr>
          <tr>
            <th>Hiệu lực</th>
            <td id="d_hieuLuc"></td>
          </tr>
          <tr>
            <th>Ghi chú</th>
            <td id="d_ghiChu"></td>
          </tr>
        </table>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
      </div>

    </div>
  </div>
</div>
