<div class="modal fade" id="accountDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Chi tiết tài khoản</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p><b>Tên:</b> <span id="d_name"></span></p>
                <p><b>Username:</b> <span id="d_username"></span></p>
                <p><b>Quyền:</b> <span id="d_role"></span></p>
                <p><b>Trạng thái:</b> <span id="d_active"></span></p>
                <p><b>Ngày tạo:</b> <span id="d_created"></span></p>
            </div>
        </div>
    </div>
</div>
