<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3 fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/home">
            <i class="bi bi-building me-1" style="font-size: 1.5rem;"></i>
            <i class="bi bi-tree me-2" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1.3rem;">Green Apartment</span>
        </a>

        <!-- NÚT 3 GẠCH (MOBILE) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU CHÍNH -->
        <div class="collapse navbar-collapse" id="navbarMenu">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        <i class="bi-house-door-fill"></i> Trang chủ
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi-building"></i> Căn hộ
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi-telephone-fill"></i> Liên hệ
                    </a>
                </li>

                {% if current_user.is_authenticated and current_user.user_role.name == 'USER' %}
                <li class="nav-item">
                    <a class="nav-link" href="/index"><i class="bi bi-grid-fill"></i> Tiện ích</a>
                </li>

                {% elif current_user.is_authenticated and current_user.user_role.name == 'ADMIN' %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin-dashboard">
                        <i class="bi bi-tools"></i> Quản trị
                    </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#">
                        <img src="{{ current_user.avatar }}" class="rounded-circle" width="40">
                        Chào {{ current_user.username }}!
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="bi-box-arrow-in-right"></i> Đăng nhập</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
