<div class="modal fade" id="accountModal">
  <div class="modal-dialog">
    <form id="accountForm" class="modal-content">
      <div class="modal-header">
        <h5 id="accountModalTitle">Tài khoản</h5>
      </div>

      <div class="modal-body">
        <input type="hidden" id="accountId">

        <label>Username</label>
        <input class="form-control" id="username" required>

        <label class="mt-2">Mật khẩu</label>
        <input class="form-control" id="password" type="password">

        <label class="mt-2">Quyền</label>
        <select class="form-select" id="role">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
        </select>

        <label class="mt-2">
            <input type="checkbox" id="active"> Kích Hoạt
        </label>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" onclick="saveAccount()">Lưu</button>
      </div>
    </form>
  </div>
</div>
