<h4 class="fw-bold mb-3">Quản lý tài khoản</h4>

<div class="text-end mb-3">
    <button class="btn btn-success" onclick="openAddAccountModal()">
        + Thêm tài khoản
    </button>
</div>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Tên</th>
            <th>Username</th>
            <th>Quyền</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="tblAccounts"></tbody>
</table>

{% include "admin/account_modal.html" %}
{% include "admin/account_detail_modal.html" %}


<script src="{{ url_for('static', filename='js/admin_account.js') }}"></script>
